# Variables de entorno para APIs
# Reemplazar con tus propias claves de API
API_EXCHANGERATE_KEY=tu_clave_api_aqui
API_COINMARKETCAP_KEY=tu_clave_api_aqui

# Variables de la base de datos
SPRING_DATASOURCE_URL=jdbc:h2:file:/data/conversor
SPRING_DATASOURCE_USERNAME=usuario_ejemplo
SPRING_DATASOURCE_PASSWORD=contraseña_ejemplo

# Configuración del servidor
PORT=9080
SPRING_PROFILES_ACTIVE=prod 